name: Build Image

on:
  push:
    branches: [main]
    paths:
      - "examples/auth-fastapi/app/**"
      - "examples/auth-fastapi/Dockerfile"
  workflow_dispatch:

env:
  IMAGE_NAME: ghcr.io/nebari-dev/nebari-software-pack-template/auth-fastapi-example

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: examples/auth-fastapi
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ github.sha }}
